export DESTINY_CLIENT_ID=46137
export DESTINY_API_KEY=8326adf48528451a9fe0b408bdbbdd35
export DESTINY_REDIRECT_URI=https://localhost:8080
 
export DIM_USERNAME=d2automator-dev
export DIM_API_KEY=5da194f5-1a86-425d-80b5-8e049a446257